{% extends 'rango/base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
     <h1>{{ category_name }}</h1>
     <p>
     
     <div id="like_count">{{ category.likes }}</div> people like this category

     {% if user.is_authenticated %} 
        <button id="likes" data-catid="{{category.id}}" class="btn btn-mini btn-primary" type="button" >Like</button>
     {% endif %}
     </p>

     <div id="pages">
     {% if pages %}
     <ul>
         {% for page in pages %}
         <li><a href="/rango/goto/?page_id={{ page.id }}">{{ page.title }}</a></li>
         {% endfor %}
     </ul>
     {% else %}
         <strong>There are no pages in category {{ category_name }}.</strong>
         <br />
     {% endif %}
     </div> <!-- id = pages -->
     {% if user.is_authenticated %}
          <a href="/rango/category/{{ category_name_url }}/add_page/">Add a new page</a> 
     {% endif %}

<div class="hero-unit">
    <h3>Search</h3>
    <br/>

    <div class="container-fluid">
        <form class="form-signin span8" id="user_form" method="post" 
                            action="/rango/category/{{ category_name_url }}/">
        {% csrf_token %}
        <input type="text" size="50" name="query" id="query" value={{ category_name }} />
        <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
        <br/>
        </form>

        <div style="clear: both;">
        {% if result_list %}
          <ol>
          {% for result in result_list %}
            <li>
                 {% if user.is_authenticated %}
                 <button data-catid="{{ category.id }}" data-title="{{ result.title }}" data-url="{{ result.link }}"
                         class="rango-add btn btn-mini btn-info" type="button" >Add</button>
                 {% endif %}
                <strong><a href="{{ result.link }}">{{ result.title }}</a></strong>
                 <br/>
                 <em>{{ result.summary }}</em>
              </li>
           {% endfor %}
           </ol>
        
         {% else %} 
             <p> No results found</p>
         {% endif %}
         </div> <!-- style clear both -->
       </div> <!-- container - fluid -->
     </div> <!-- hero unit -->

  

{% endblock %}
